body{
    margin: 0;
    padding: 0;
    background-color: #f6f6f6;
}

html, body{
    font-size: 16px;
}

*{
    font-family: var(--primary-font);
}

:root{
    --primary-font: 'Montserrat', 'Helvetica', 'sans-serif';
    --primary-blue: #0C1633;
    --primary-orange: #F2622E;
    --heading-color: #212529;
}

/* GENERAL CLASSES */

.m-auto{
    margin: 0 auto !important;
}

.m-0{
    margin: 0 !important;
}

.mt-0{
    margin-top: 0 !important;
}

.mb-0{
    margin-bottom: 0 !important;
}

.w-75{
    width: 75%;
}

.w-50{
    width: 50%;
}

.text-center{
    text-align: center !important;
}

.text-white{
    color: white;
}

.d-flex{
    display: flex;
}

.flex-column{
    flex-direction: column;
}

.justify-content-center{
    justify-content: center;
}

.align-items-center{
    align-items: center;
}

.heading-color{
    color: var(--heading-color);
}

.bg-orange{
    background-color: var(--primary-orange);
}

.bg-blue{
    background-color: var(--primary-blue);
}

.bg-green{
    background-color: #7CDA24;
}

.orange{
    color: var(--primary-orange);
}


button.bg-orange:hover{
    background-color: #cc5226;
}

button.bg-blue:hover{
    background-color: #091127;
}

button.bg-green:hover{
    background-color: #66b31f;
}

h1, h2, h3{
    font-weight: 800;
}

a{
    text-decoration: none;
}

.show-remove{
    transition: 250ms ease-out;
}

/* ACESS BUTTON */

#access-btn{
    display: flex;
    align-items: center;
    gap: .25rem;
    position: fixed;
    bottom: 1.875rem;
    right: 1.875rem;
    border-radius: .375rem;
    border: none;
    padding: .625rem;
    background-color: var(--primary-orange);
    color: white;
    cursor: pointer;
    transition: all 300ms;
    font-size: 1em;
    -webkit-box-shadow: 0px 0px 12px -3px rgba(38,38,38,1);
    -moz-box-shadow: 0px 0px 12px -3px rgba(38,38,38,1);
    box-shadow: 0px 0px 12px -3px rgba(38,38,38,1);
    z-index: 100;
}

#access-btn:hover{
    background-color: #cc5226;
}

.buy-btn{
    display: flex;
    align-items: center;
    gap: .625rem;
    border-radius: .375rem;
    border: none;
    padding: .875rem 1.25rem;
    cursor: pointer;
    transition: all 300ms;
    font-size: 1.75em;
    font-weight: 800;
}

.buy-btn.bg-blue{
    -webkit-box-shadow: 0px 0px 12px -3px rgba(38,38,38,1);
    -moz-box-shadow: 0px 0px 12px -3px rgba(38,38,38,1);
    box-shadow: 0px 0px 12px -3px rgba(38,38,38,1);
}

.buy-btn span{
    font-weight: 700;
    font-size: 1em;
}

.title-header{
    background-color: var(--primary-orange);
    color: white;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}

/* HEADER */

h1{
    font-size: 2.8em;
    margin: 0;
}

.principal-subtitle{
    font-size: 1.25em;
    font-weight: bold;
}

header{
    padding-top: 2.75rem;
    padding-bottom: 2.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--primary-blue);
    color: white;
}

section{
    padding-top: 3.125rem;
}

h2{
    font-size: 2.5em;
}

.for-you-container{
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    gap: 2rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.for-you-item{
    width: 14rem;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2rem 1rem;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.16);
}

.for-you-item span{
    font-size: 4em;
    color: var(--primary-orange);
    font-weight: 800;
}

.for-you-item p{
    font-size: 1.15em;
}

.for-you-p{
    font-size: 1.25em;
}

/* ACHIEVEMENTS */

.blue-section{
    background-color: var(--primary-blue);
    color: white;
    padding-top: 3.125rem;
    padding-bottom: 3.125rem;
}

#achievements .section-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

#achievements .section-content img{
    width: 40%;
}

#achievements .section-content ul{
    padding: 0;
    margin: 0;
}

.how-h2{
    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
}

#achievements ul{
    list-style: none;
}

#achievements ul li{
    font-size: 1.25em;
    margin-bottom: 1.5em;
}

#achievements strong{
    font-weight: 700;
}

#achievements p{
    font-size: 1.25em; 
    margin-bottom: 1.5rem;
}



/* Course Content */

.course-content{
    display: flex;
    justify-content: center;
    gap: 6.25rem;
    flex-wrap: wrap;
    padding-right: 2rem;
    padding-left: 2rem;
}

.course-content-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.875rem;
}

.course-content-section img{
    width: 11rem;
    height: 11rem;
}

.module{
    background-color: #f4f4f4;
    padding: 1.25rem;
    border: 1px solid #d9d9d9;
    border-radius: .625rem;
    margin-bottom: .625rem;
}


.module-text h3{
    font-size: 1.5em;
}

.module-text span{
    background-color: rgb(100, 100, 100);
    color: white;
    border-radius: 999px;
    padding: 5px;
}

.module-content{
    padding-left: 1.25rem;
    margin-bottom: 0;
}

.module-content li{
    margin-bottom: 1rem;
}

/* BONOS SECTION */

.bonos-container{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 5rem;
    margin-bottom: 5rem;
}

.bono{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
    width: 50%;
}

.bono img{
    width: 80%;
}

#whatsapp-mockup, #telegram-mockup{
    width: 60%;
}

.bono-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.bono-content strong{
    font-size: 1.25em;
}

.bono-content h3{
    font-size: 1.5em;
}

.bono-content p{
    font-size: 1.15em;
}



.discount-h3{
    font-size: 1.75em;
    margin-top: 4rem;
}

.free{
    color: #7cda24;
}

.line-through{
    text-decoration: line-through;
    color: #ff3f00;
}



/* Que Recibiras */



.desarrollo-web-img{
    margin: 0 auto;
    margin-top: 3rem;
    border-radius: .5rem;
}

.ul-list{
    display: flex;
    justify-content: center; 
    gap: 1.75rem;
    margin-top: 3rem;
    padding-left: 0;
    list-style: none;
}

.ul-list li{
    font-size: 1.5em;
    margin-bottom: 1rem;
}

.ul-list strong{
    font-size: 1em;
}

.prices-container{
    margin-top: 0rem;
    margin-bottom: 2rem;
}

.prices-container h3{
    font-size: 2.5em;
}

.price-strong{
    font-weight: 800;
    margin-top: .5rem;
    font-size: 4em;
}

.price-strong.line-through{
    font-size: 3em;
}

.discount-expires{
    font-size: 3em;
    margin-top: 3rem;
}

.timer-container{
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 1rem;
}

.timer-container div{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: .25rem;

}

.timer-container strong{
    color: var(--heading-color);
    font-weight: 800;
    font-size: 2.5em;
}

.payment-methods{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.payment-methods a{
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
    padding: .25rem 1rem;
    background-color: var(--primary-blue);
}

.payment-methods img{
    max-height: 4rem;
}

.paypal-icon{
    height: 3rem;
}

.section-separator{
    margin-top: 4rem;
}

.guarantee-container{
    margin-top: 4rem;
}

.guarantee-container p{
    font-size: 1.25em;
}

.guarantee-container img{
    margin-top: 2rem;
    width: 30%;
}

/* Certification */

#certification .container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

#certification .container img{
    max-width: 48%;
}

#certification .container div{
    width: 48%;
}

#certification p{
    font-size: 1.25em;
}

/* TEACHER */

.teacher-container{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.teacher-container img{
    max-width: 40%;
    border-radius: .75rem;
}

.teacher-info h3{
    color: #1F92BF;
    font-size: 2em;
}

.teacher-info p{
    font-size: 1.25em;
}

.video-title{
    margin-bottom: 3rem;
}


/* FAQ */

.faq-container{
    display: flex;
    flex-direction: column;
}

.faq-element{
    border: 1px solid #d4d4d4;
    border-top: none;
}

.faq-element:first-child{
    border-top: 1px solid #d4d4d4;
}

.accordion-item-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    gap: .5rem;
}

.faq-item-header{
    padding: 1rem;
}

.accordion-item-header.active span{
    transform: rotate(45deg);
}

.accordion-item-body{
    max-height: 0;
    overflow: hidden;
    transition: all .6s;
}

.faq-item-body-content{
    padding: 1rem;
    border-top: 1px solid #d4d4d4;
    font-size: 1.15em;
}

.underlined{
    text-decoration: underline;
    cursor: pointer;
    color: white;
}

.asesor{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
    gap: 2rem;
}

.asesor-img{
    width: 80%;
}

.asesor-img img{
    max-width: 100%;
}

.asesor p{
    font-size: 1.25em;
}

.last-cta{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: fit-content;
    border: 3px solid #cc5226;
    border-radius: .5rem;
    padding: 3rem 3rem;
    background-color: #0f1b3c;
}

.last-cta h3{
    font-size: 2em;
}

.last-cta ul{
    list-style: none;
    padding: 0;
}

.last-cta ul li{
    font-size: 1.35em;
    margin-bottom: 1rem;
}

.last-cta strong.price{
    font-size: 3em;
    font-weight: 800;
    margin-bottom: 2rem;
}



@media only screen and (max-width: 991px){

    h1{
        font-size: 2.25em;
    }

    .ul-list{
        flex-direction: column;
        gap: 0;
    }

    .ul-list li{
        margin-bottom: 2rem;
    }
    
    #certification .container img{
        max-width: 65%;
    }
    
    #certification .container div{
        width: 100%;
        text-align: center;
    }
    
    #certification .certificate-btn{
        margin: 0 auto;
    }

    /* ACHIEVEMENTS */

    #achievements .section-content{
        flex-direction: column;
    }
    
    #achievements .section-content img{
        min-width: 70%;
    }
    
    #achievements .section-content ul{
        width: 100%;
    }
}

@media only screen and (max-width: 768px){

    #certification .container img{
        max-width: 60%;
    }

    h1{
        font-size: 2em;
    }

    h2{
        font-size: 2.25em;
    }

    .bonos-container{
        flex-direction: column;
        gap: 4rem;
        align-items: center;
        margin-bottom: 4rem;
    }

    .bono{
        width: 100%;
    }

    .bonos-h2{
        font-size: 1.85em;
    }

    html, body{
        font-size: 14px;
    }

    /* TEACHER */
    .teacher-container{
        flex-direction: column;
    }

    .teacher-container img{
        max-width: 60%;
    }

    .teacher-info{
        text-align: center;
    }

    .teacher-info h3{
        margin: 0;
    }

    /* ASESOR */

    .asesor{
        flex-direction: column;
    }

    .asesor-img{
        text-align: center;
        width: 40%;
    }

    .asesor-info{
        text-align: center;
    }

    .asesor-info h2{
        margin: 0;
    }

    .asesor .asesor-btn{
        margin: 0 auto;
    }

    .guarantee-container img{
        width: 50%;
    }
}

@media only screen and (max-width: 640px){
    #access-btn{
        padding: .6rem;
    }
}

@media only screen and (max-width: 517px){
    .for-you-item{
        width: 100%;
    }

    .desarrollo-web-img{
        width: 85%;
    }

    .guarantee-container img{
        width: 65%;
    }
}

@media only screen and (max-width: 480px){

    h1{
        font-size: 1.75em;
    } 

    .principal-subtitle{
        font-size: 1.10em;
    }

    .discount-expires{
        font-size: 2em;
    }

    .price-strong.line-through{
        font-size: 2.5em;
    }

    .price-strong{
        font-size: 3em;
    }

    .timer-container{
        gap: 1rem;
    }

    .timer-container strong{
        font-size: 2em;
    }

    .prices-container h3{
        font-size: 2em;
    }

    .last-cta h3{
        font-size: 1.5em;
    }
}

@media only screen and (max-width: 350px){
    html, body{
        font-size: 13.5px;
    }

    .last-cta{
        padding: 2rem 1.75rem;
    }

    .last-cta ul li{
        font-size: 1.25rem;
    }

    #access-btn{
        position: fixed;
        bottom: 1.5rem;
        right: 1.5rem;
    }
}

@media only screen and (max-width: 310px){
    .timer-container{
        gap: .5rem;
    }
}

@media only screen and (max-width: 285px){
    .last-cta{
        padding: 2rem 1.4rem;
    }
}


/* Container Bootstrap Styles */ 

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
} 

@media (min-width: 576px) {
    .container {
        width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1140px;
    }
}
