body{
    margin: 0;
    padding: 0;
    background-color: #f6f6f6;
}

html, body{
    font-size: 100%;
}

*{
    font-family: var(--primary-font);
}

:root{
    --primary-font: 'Montserrat', 'Helvetica', 'sans-serif';
    --primary-blue: #0C1633;
    --primary-orange: #F2622E;
    --heading-color: #212529;
}

/* GENERAL CLASSES */

.m-auto{
    margin: 0 auto;
}

.m-0{
    margin: 0 !important;
}

.mt-0{
    margin-top: 0 !important;
}

.mb-0{
    margin-bottom: 0 !important;
}

.w-75{
    width: 75%;
}

.w-50{
    width: 50%;
}

.text-center{
    text-align: center !important;
}

.d-flex{
    display: flex;
}

.flex-column{
    flex-direction: column;
}

.justify-content-center{
    justify-content: center;
}

.align-items-center{
    align-items: center;
}

.heading-color{
    color: var(--heading-color);
}

.bg-orange{
    background-color: var(--primary-orange);
}

.bg-blue{
    background-color: var(--primary-blue);
}

button.bg-orange:hover{
    background-color: #cc5226;
}

button.bg-blue:hover{
    background-color: #091127;
}

h1, h2, h3{
    font-weight: 800;
}

/* ACESS BUTTON */

#access-btn{
    display: flex;
    align-items: center;
    gap: .25rem;
    position: fixed;
    bottom: 1.875rem;
    right: 1.875rem;
    border-radius: .375rem;
    border: none;
    padding: .625rem;
    background-color: var(--primary-orange);
    color: white;
    cursor: pointer;
    transition: all 300ms;
    font-size: 1em;
}

#access-btn:hover{
    background-color: #cc5226;
}

.buy-btn{
    display: flex;
    align-items: center;
    gap: .625rem;
    border-radius: .375rem;
    border: none;
    padding: .875rem 1.25rem;
    color: white;
    cursor: pointer;
    transition: all 300ms;
    font-size: 1.5em;
    font-weight: bold;
}


/* HEADER */

h1{
    font-size: 3em;
    width: 70%;
    margin: 0;
}

.principal-subtitle{
    font-size: 1.25em;
    font-weight: bold;
}

header{
    padding-top: 2.75rem;
    padding-bottom: 2.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--primary-blue);
    color: white;
}

section{
    padding-top: 3.125rem;
}

h2{
    font-size: 2.75em;
}

.video{
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-subtitle{
    margin: 0 auto;
    margin-top: 1.5rem;
    font-weight: 500;
    font-size: 1.25em;
    width: 70%;
}

.title-header{
    background-color: var(--primary-orange);
    color: white;
    padding: 1.25rem;
}

/* ACHIEVEMENTS */

.blue-section{
    background-color: var(--primary-blue);
    color: white;
    padding-top: 3.125rem;
    padding-bottom: 3.125rem;
    padding-right: 1.875rem;
    padding-left: 1.875rem;
}

#achievements .section-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3.75rem;
}

#principal-mockup{
    width: 34.375rem;
}

#laptop-mockup{
    width: 34.375rem;
}

#achievements .section-content .achievements-ul{
    list-style: none;
    width: 45%;
}

#achievements ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

#achievements .section-content ul li{
    font-size: 1.25em;
    margin-bottom: 1.5em;
}

.orange{
    color: var(--primary-orange);
}

#achievements .section-content strong{
    font-weight: 700;
}

#achievements p{
    font-size: 1.25em; 
    margin-bottom: 1.5rem;
}



/* Course Content */

.course-content{
    margin-top: 2.5rem;
    display: flex;
    justify-content: center;
    gap: 6.25rem;
    flex-wrap: wrap;
    padding-right: 2rem;
    padding-left: 2rem;
}

.course-content-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.875rem;
}

.course-content-section img{
    width: 12.5rem;
    height: 12.5rem;
}

.module{
    width: 510px;
    background-color: #f4f4f4;
    padding: 20px;
    border: 1px solid #d9d9d9;
    border-radius: .625rem;
    margin-bottom: .625rem;
}

.module-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .625rem;
    cursor: pointer;
}

.module-text h3{
    font-size: 1.5em;
}

.module-text span{
    background-color: rgb(100, 100, 100);
    color: white;
    border-radius: 999px;
    padding: 5px;
}

.module-content{
    padding-left: 1.25rem;
    overflow: hidden;
    height: 0;
    padding: 0;
    margin: 0;
    transition: all 600ms;
}

.module.active .module-content{
    margin-top: 1.25rem;
}

.module.active .module1, .module.active .module6{
    height: 1.1875rem;
}

.module.active .module2{
    height: 5.5625rem;
}

.module.active .module3, .module.active .module4{
    height: 16.5rem;
}

.module.active .module5, .module.active .module7{
    height: 3.375rem;
}

.module-content li{
    margin-bottom: 1rem;
}

/* BONOS SECTION */

.bonos-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    gap: 5rem;
    margin-bottom: 2.5rem;
}

.bono{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    max-height: 43.75rem;
}

.bono-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.bono img{
    height: 18.75rem;
}

#meet-mockup, #bootstrap-mockup{
   width: 500px;
}

.free{
    color: #7cda24;
}

.line-through{
    text-decoration: line-through;
    color: #ff3f00;
}

/* Que Recibiras */

section.w-75{
    margin: 0 auto;
}

.desarrollo-web-img{
    margin-top: 3rem;
    border-radius: .5rem;
}

.ul-list{
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 1.75rem;
    margin-top: 2rem;
    padding-left: 0;
    list-style: none;
}

.ul-list li{
    font-size: 1.5em;
    margin-bottom: 1rem;
}

.ul-list strong{
    font-size: 1em;
}

.prices-container{
    margin-top: 1rem;
}

.prices-container h3{
    font-size: 2.5em;
}

.price-strong{
    font-weight: 800;
    margin-top: .5rem;
    font-size: 3.5em;
}

.price-strong.line-through{
    font-size: 2.5em;
}

.discount-expires{
    font-size: 2em;
    margin-top: 1rem;
}

.timer-container{
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.timer-container strong{
    color: var(--heading-color);
    font-weight: 700;
    font-size: 2.2em;
}






@media only screen and (max-width: 1200px){
    .bonos-container{
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width: 991px){
    .ul-list{
        flex-direction: column;
        gap: 0;
    }

    .ul-list li{
        text-align: center;
    }
}

/* Container Bootstrap Styles */ 

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
} 

@media (min-width: 576px) {
    .container {
        width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1140px;
    }
}
